_impactbatch.log
_ngo/
_xmsgs/
device_usage_statistics.html
ipcore_dir/async_fifo.ncf
ipcore_dir/async_fifo_xdb/
ise_impact.cmd
rtl/vga/draw.v
sysele.bgn
sysele.bit
sysele.bld
sysele.cmd_log
sysele.drc
sysele.gise
sysele.lso
sysele.ncd
sysele.ngc
sysele.ngd
sysele.ngr
sysele.ntrc_log
sysele.pad
sysele.par
sysele.pcf
sysele.prj
sysele.ptwx
sysele.stx
sysele.syr
sysele.twr
sysele.twx
sysele.unroutes
sysele.ut
sysele.xpi
sysele.xst
sysele_guide.ncd
sysele_map.map
sysele_map.mrp
sysele_map.ncd
sysele_map.ngm
sysele_map.xrpt
sysele_ngdbuild.xrpt
sysele_pad.csv
sysele_pad.txt
sysele_par.xrpt
sysele_prev_built.ngd
sysele_summary.html
sysele_summary.xml
sysele_usage.xml
sysele_xdb/
sysele_xst.xrpt
xst/
tools/*.bin
boards/ADCDAC.[bs]#?
sysele.ise
ncverilog.key
ncverilog.log
pa.fromHdl.tcl
pa.fromHdlPorts.tcl
planAhead_run_1/
pll.v
pll2.v
pll2_arwz.ucf
pll_arwz.ucf
.simvision/
INCA_libs/
ncverilog.key
ncverilog.log
waves.shm/
sysele_pa_ports.v
xaw2verilog.log
pa.fromNetlist.tcl
planAhead.ngc2edif.log
sysele_clkrgnrpt.xrpt
sysele_fpga_editor.log
sysele_guide_fpga_editor.log
sysele_2012-10-11-17-59-11.twx
adc_test_summary.html
pll3.v
pll3_arwz.ucf
*.twx
*.cpj
*.cdc
*.vcd
*.prn
pll4.v
pll4_arwz.ucf
*.dump
ipcore_dir/xaw2vhdl.log
dummy-[123]
dummymem.log
tools/raweth/test
tools/raweth/test2
tools/raweth/raweth.o
tools/raweth/recv
tools/raweth/recv.o
tools/raweth/send
tools/raweth/send.o
ipcore_dir/_cg/
ipcore_dir/async_fifo_ddr2_x2.ncf
ipcore_dir/async_fifo_ddr2_x2_xdb/
ipcore_dir/async_fifo_ddr2_xdb/
ipcore_dir/fifo_generator_ug175.pdf
ipcore_dir/fifo_targ_xdb/
ofnNtrc
sim_eth_ddr_io.log
sysele_cs.blc
sysele_cs.ngc
tools/raweth/out.dat
tools/raweth/random.dat
tools/raweth/recv.log
tools/raweth/test.dat
tools/raweth/wave.dat
tools/raweth/wavegen
ipcore_dir/ddr2_xdb/tmp/ise.lock
*.log
*.result
test/*.diag
test/*.result
test/*.stderr
test/*.stdout
MAC_rx_add_chk_summary.html
impact_xdb/
ipcore_dir/fifo_ad_flist.txt
ipcore_dir/fifo_ad_xdb/
ipcore_dir/fifo_ad_xmdf.tcl
ipcore_dir/fifo_arb_flist.txt
ipcore_dir/fifo_arb_xdb/
ipcore_dir/fifo_arb_xmdf.tcl
ipcore_dir/fifo_targ_flist.txt
ipcore_dir/fifo_targ_xmdf.tcl
reportgen.xmsgs
sysele.clk_rgn
sysele.dly
sysele_fpga_editor.out
sysele_map.psr
sysele_map_prev_mapped.ncd
sysele_map_prev_mapped.ngm
sysele_prev_routed.ncd
sysele_reportgen.xrpt
tmp/
tools/raweth/adc.dat
tools/raweth/*.txt
tools/raweth/recv2
tools/raweth/recv2.o
tools/raweth/toplot
